/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');
@import '~prism-themes/themes/prism-material-dark.css';
/* purgecss end ignore */
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('./_markdown.scss');

html {
	@apply bg-gray-50;
}

html.mode-dark {
	@apply bg-smoke-900;
}

.blink {
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: currentColor;
	}
}

.markdown a, .markdown strong, .markdown :not(pre) > code[class*='language-'] {
	word-wrap: break-word;
	word-break: break-word;
}

.markdown h1 {
	@apply leading-tight border-b text-4xl font-bold mb-4 mt-6 pb-2;
}

.markdown h2 {
	@apply leading-tight border-b text-2xl font-bold mb-4 mt-6 pb-2;
}

.markdown h3{
	@apply leading-snug text-lg font-bold mb-4 mt-6;
}

.markdown h4 {
	@apply leading-none text-base font-bold mb-4 mt-6;
}

.markdown h5 {
	@apply leading-tight text-sm font-bold mb-4 mt-6;
}

.markdown h6 {
	@apply leading-tight text-sm font-bold mb-4 mt-6;
}
